body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background);
    color: var(--accWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.preloaded {
    display: none;
}

nav {
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .4rem 2rem;
    background: var(--background);
    color: var(--accWhite);
    width: 100%;
    font-size: 1.3em;
    position: fixed;
    border-bottom: 5px solid var(--acc);
    border-image: var(--gradientRight) 1;
}


nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-weight: 400;
}

nav a {
    color: var(--accWhite);
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    color: var(--acc);
}

nav a.active {
    position: relative;
}

nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Adjust the spacing from the text */
    height: 3px; /* Adjust the height of the underline */
    background: var(--gradientRight);
    border-radius: 5px; /* Rounded corners */
}

.user-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    margin-right: 20px;
    width: 100%;
    height: 50px;
}

.user-circle {
    width: 50px;
    height: 50px;
    background-color: var(--acc);
    color: var(--background);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 2rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 65px;
    right: 2%;
    background-color: var(--background);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu a {
    color: var(--acc);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

main {
    width: 70%;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------  Composants ------------------------------------ */

/* ------------------------ scroller ------------------------*/
.backgroundScrollerWrapper {
    background: var(--gradientBottom);
    padding: 5px;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    margin: 2rem 0;
}

.scrollerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    background: var(--background);
    box-sizing: border-box;
}

.scrollerHeader {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--acc);
    border-radius: 17px 17px 0 0;
    color: var(--background);
    padding: 1rem 0;
    gap: 15%;
}

.scrollerHeader::after {
    content: '';
    position: absolute;
    background: var(--background);
    width: 250px;
    height: 250px;
    top: 30%;
    border-radius: 50%;
}

.scrollerHeader i {
    font-size: 2.4em;
    z-index: 2;
}

.scrollerHeader .scrollerHeaderArrow {
    top: 50%;
}

.scrollerHeader .scrollerHeaderText {
    left: -22%;
    position: relative;
    text-wrap: wrap;
    width: 30%;
    text-transform: uppercase;
}

.scrollerHeader .scrollerHeaderIcon {
    right: -22%;
    position: relative;
    font-size: 3em;
    font-weight: bold;
    color: var(--background);
}

.scrollerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
    overflow-y: auto ;
    height: 850px;
    z-index: 3;
}

.scrollerContent::-webkit-scrollbar {
    display: none;
}

.scrollerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92%;
    background: var(--background);
    border-radius: 20px;
    margin: 1.4rem 0;
    padding: 1rem;
    box-shadow: 4px 9px 15px -9px var(--acc);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    color: var(--acc);
    cursor: pointer;
    min-height: 200px;
}

.scrollerCard::before {
    content: '';
    position: absolute;
    background: var(--acc2);
    width: 20vw;
    max-width: 400px;
    min-width: 280px;
    height: 20vw;
    max-height: 400px;
    min-height: 280px;
    left: -10%;
    border-radius: 100%;
    z-index: 0;
}

.scrollerCard .scrollerCardInnerCircle {
    min-width: 125px;
    height: 125px;
    background: var(--accBack);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    z-index: 1;
    position: relative;
    left: 3%;
    color: var(--acc);
    font-size: 2.6em;
}

.scrollerCard .scrollerCardInnerCircle span {
    display: grid;
    place-items: center;
}

.scrollerCard .scrollerCardContent {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-wrap: wrap;
}

.scrollerCard .scrollerCardContent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 12%;
    position: relative;
}

.scrollerCard .scrollerCardContent div h3,span {
    margin: .5rem 0 .5rem 0;
}

.scrollerCard .scrollerCardContent div h4,p {
    margin: .5rem 0 .5rem 2rem;
}

.scrollerCard .scrollerCardContent div h3 {
    font-size: 1.8em;
}

.scrollerCard .scrollerCardContent div h4 {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--sub);
}

.scrollerCard .scrollerCardContent div p {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--accWhite);
}

.scrollerCard .scrollerCardContent div span {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--accLow);
}

.scrollerCard .scrollerCardContent .interStatut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-size: 5em;
    color: var(--acc);
    position: absolute;
    right: 2%;
}

/* ------------------------ Import Modal ------------------------*/

/* Import Modal container */
.importModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--accBackModal);
}

/* Import Modal content */
.importModalContent {
    background-color: var(--background);
    margin: 15% auto;
    padding: 10px 20px;
    border: 1px solid var(--acc);
    width: 40%;
    border-radius: 10px;
}

/* Close button */
.importModalClose {
    color: var(--acc);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.importModalClose:hover,
.importModalClose:focus {
    color: var(--accBack);
    text-decoration: none;
    cursor: pointer;
}

/* Modal body */
.importModalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.importModalBody form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.importModalBody form input {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: 1px solid var(--acc);
}

/* ------------------------ Client Modal ------------------------*/


.clientModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--accBackModal);
}

.clientModal .clientModalContent {
    background-color: var(--background);
    margin: 15% auto;
    padding: 10px 20px;
    border: 1px solid var(--acc);
    width: 40%;
    border-radius: 10px;
}

.clientModal .clientModalContent .clientModalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.clientModal .clientModalContent .clientModalClose {
    color: var(--acc);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.clientModal .clientModalContent .clientModalBody .clientCreateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.clientModal .clientModalContent .clientModalBody .clientCreateForm .formGroup {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.clientModal .clientModalContent .clientModalBody .clientCreateForm .formGroup input {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
    color: var(--accWhite);
    background: var(--background);
}

.clientModal .clientModalContent .clientModalBody .clientCreateForm .formGroup input::placeholder {
    color: var(--acc);
}

.clientModal .clientModalContent .clientModalBody .clientCreateForm .formGroup label {
    font-weight: 400;
    margin: 0 0 5px 5px;
    color: var(--acc);
}

.clientModal .clientModalContent .clientModalBody .clientCreateForm button {
    padding: 10px 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background: var(--acc);
    color: var(--background);
    cursor: pointer;
}


.close:hover,
.close:focus {
    color: var(--accBack);
    text-decoration: none;
    cursor: pointer;
}

/* ------------------ Intervention modal ------------------*/

/* General modal styles */
.interventionModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--accBackModal); /* Fallback color */
}

/* Modal content */
.interventionModalContent {
    background-color: var(--background);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid var(--acc);
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

/* Close button */
.interventionModalClose {
    color: var(--acc); /* Change color to black */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.interventionModalClose:hover,
.interventionModalClose:focus {
    color: var(--accBack); /* Change color on hover */
    text-decoration: none;
    cursor: pointer;
}

/* Modal body */
.interventionModalBody {
    padding: 10px 20px;
    box-sizing: border-box;
}

/* Form styles */
.interventionModal .interventionModalContent .interventionModalBody form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.interventionModal .interventionModalContent .interventionModalBody form div {
    width: 100%;
}

.interventionModal .interventionModalContent .interventionModalBody form .formGroup {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: .5rem;
}

.interventionModal .interventionModalContent .interventionModalBody form .formGroup input, textarea {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    color: var(--accWhite);
    width: 100%;
    box-sizing: border-box;
}

.interventionModal .interventionModalContent .interventionModalBody form .formGroupCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.interventionModal .interventionModalContent .interventionModalBody form .formGroupCheckbox input {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    box-sizing: border-box;
}

.interventionModal .interventionModalContent .interventionModalBody form .formGroup label {
    font-weight: 400;
}

.interventionModal .interventionModalContent .interventionModalBody form button {
    padding: 10px 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background: var(--acc);
    color: var(--background);
    cursor: pointer;
    box-sizing: border-box;
}

.interventionModal .interventionModalContent .interventionModalBody form .formGroup select {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    background-color: var(--background);
    color: var(--accWhite);
}

.interventionModal .interventionModalContent .interventionModalBody form .formGroup select {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    background-color: var(--background);
    color: var(--accWhite);
    box-sizing: border-box;
}

/* Modal container */
.interventionModal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--accBackModal);
    padding-top: 60px;
}

/* Modal content */
.interventionModalContent {
    background-color: var(--background);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--acc);
    width: 80%;
    border-radius: 10px;
}

/* Close button */
.interventionModalClose {
    color: var(--acc);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.interventionModalClose:hover,
.interventionModalClose:focus {
    color: var(--accBack);
    text-decoration: none;
    cursor: pointer;
}

.interventionModal .interventionModalContent .interventionModalBody .interventionCreateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.interventionCreateForm .formGroup select {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    background-color: var(--background);
    color: var(--accWhite);
}

/* Form styles */
.interventionModal .interventionModalContent .interventionModalBody .interventionCreateForm .formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.interventionModal .interventionModalContent .interventionModalBody .interventionCreateForm .formGroup input,textarea {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
    color: var(--accWhite);
    box-sizing: border-box;
    background-color: var(--background);
}

.interventionModal .interventionModalContent .interventionModalBody .interventionCreateForm .formGroupCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.interventionModal .interventionModalContent .interventionModalBody .interventionCreateForm .formGroupCheckbox input {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    box-sizing: border-box;
}


.interventionModal .interventionModalContent .interventionModalBody .interventionCreateForm .formGroup,.formGroupCheckbox label {
    font-weight: 400;
    margin: 0 0 5px 5px;
}

.interventionModal .interventionModalContent .interventionModalBody .interventionCreateForm button {
    padding: 10px 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    color: var(--background);
    cursor: pointer;
}

/* ------------------------ Commande Modal ------------------------*/

.commandeModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--accBackModal);
}

.commandeModalContent {
    background-color: var(--background);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--acc);
    width: 80%;
    border-radius: 10px;
}

.commandeModalClose {
    color: var(--acc);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.commandeModalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.commandeModalBody form div {
    width: 100%;
}

.commandeModalBody form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.commandeModalBody form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.commandeModalBody form .formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commandeModalBody form .formGroup input {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
}

.commandeModalBody form .formGroup label {
    font-weight: 400;
    margin: 0 0 5px 5px;
}

.commandeModalBody form button {
    padding: 10px 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background: var(--acc);
    color: var(--background);
    cursor: pointer;
}

.commandeModalBody form .formGroup select {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    background-color: var(--background);
    color: var(--accWhite);
}

.formGroup input,textarea {
    padding: 12px 8px;
    border: 1px solid var(--acc);
    border-radius: 5px;
    width: 100%;
    color: var(--accWhite);
    box-sizing: border-box;
    background-color: var(--background);
}

#commandes {
    gap: 1rem;
}

/* ------------------------ Button ------------------------*/


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: var(--background);
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.btn-primary {
    background: var(--acc);
}

/* ------------------------ Searchbar ------------------------*/

.searchBarWrapper {
    margin: 2rem 0  4rem 0;
    text-align: center;
    width: 90%;
    border-bottom: 5px solid var(--acc);
    border-image: var(--gradientRight) 1;
}

.searchBar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: var(--background);
    border: none;
    font-size: 1rem;
    color: var(--acc);
}

.searchBar::placeholder {
    color: var(--accWhite);
}

/* ------------------------ Flash Messages ------------------------*/

.flash-messages {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    max-width: 600px;
}

.flash-message {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 50px;
    color: #fff;
    border: 2px solid var(--accBack);
    opacity: 0.9;
    position: relative;
    animation: slide-in 0.5s forwards;
    background: var(--background);
    float: right;
    clear: both;
    box-sizing: border-box;
}

.flash-message .iconContainer {
    margin-right: 10px;
    padding: 1px 6px 1px 10px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}

.flash-message-success {
    background-color: #28a745;
}

.flash-message-error {
    background-color: #dc3545;
}

.flash-message-warning {
    background-color: #ffc107;
    color: #212529;
}

.flash-message-info {
    background-color: #17a2b8;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.9;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 0.9;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.flash-message.slide-out {
    animation: slide-out 0.5s forwards;
}

/* ------------------------ date indicator ------------------------*/

/* style pour l'affichage de la date dans le sinter*/
.dateIndicator {
    text-align: center;
    margin: 20px 0;
    color: var(--acc);
}

.dateLine {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    background: transparent;
}

.dateLine::before,
.dateLine::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: var(--acc);
}

.dateLine::before {
    left: -100%;
    margin-right: 10px;
}

.dateLine::after {
    right: -100%;
    margin-left: 10px;
}

/* ------------------------ Intervention scroller ------------------------*/

.interScrollerCard .scrollerCardContent div .createdAt {
    margin: .5rem 0 .5rem 2rem;
}

.interScrollerCard .scrollerCardContent div p {
    margin: .5rem 0 .5rem 4rem;
}

/* ------------------------ Commandes scroller ------------------------*/

.commandScrollerCard .scrollerCardContent div h3,span {
    margin: .2rem 0 .2rem 0;
}

.commandScrollerCard .scrollerCardContent div h4,p {
    margin: .2rem 0 .2rem 2rem;
}

.commandScrollerCard .scrollerCardContent div .createdAt {
    margin: .2rem 0 .2rem 4rem;
}

.commandScrollerCard .scrollerCardContent div .orderedAt {
    margin: .2rem 0 .2rem 6rem;
}

.commandScrollerCard .scrollerCardContent div .ordered {
    margin: .2rem 0 .2rem 6rem;
    text-decoration: underline;
}

.commandScrollerCard .scrollerCardContent div .delivered {
    margin: .2rem 0 .2rem 4rem;
    text-decoration: underline;
}

.commandScrollerCard .scrollerCardContent div .called {
    margin: .2rem 0 .2rem 2rem;
    text-decoration: underline;
}

.commandScrollerCard .scrollerCardContent div .details {
    margin: .2rem 0 .2rem 0;
    font-size: 1.2em;
    font-weight: 400;
}

.commandScrollerCard {
    min-height: 270px;
}

/* ------------------------  Card ------------------------*/

.card {
    width: 100%;
    background: var(--background);
    min-height: 400px;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 var(--acc);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card p {
    margin: .5rem 0
}

.card hr {
    border: 1px solid var(--acc);
    border-image: var(--gradientMidVertical) 1;
}

.cardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    position: relative;
    color: var(--acc);
}

.cardSection .cardCircle {
    width: 100px;
    height: 100px;
    background: var(--accBack);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 1rem 0;
    font-size: 3em;
    color: var(--acc);
}

.clientSection h2 {
    margin: 1.5rem 0;
}

.clientSection h3 {
    margin:0 0 1rem 0;
    color: var(--accWhite);
    font-size: 1.5em;
}

.clientSection .status {
    position: absolute;
    font-size: 3.5em;
    bottom: 2rem;
}

.contentSection {
    justify-content: center;
    text-align: center;
}

.contentSection h3 {
    color: var(--sub);
}

.contentSection .password,.prix {
    margin: 1rem 0;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--accWhite);
}

.contentSection .ope {
    margin: 1rem 0;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--acc);
}

.contentSection .dateWrap {
    color: var(--accLow);
}

/* ------------------------ Preloader ------------------------*/

.preloadWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background);
    color: var(--acc);
    transition: opacity 0.4s ease;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.preloadWrapper.hidden {
    opacity: 0;
    pointer-events: none;
}

.loader {
    width: 250px;
    height: 22px;
    border-radius: 20px;
    color: var(--acc);
    border: 2px solid;
    position: relative;
    overflow: hidden;
}

.loader-progress {
    width: 0;
    height: 100%;
    background: currentColor;
    border-radius: inherit;
    transition: width 0.2s ease, opacity 0.4s ease;
    opacity: 0; /* Start hidden */
}

.loader-progress.visible {
    opacity: 1; /* Fade in */
}

/* --------------------------------------  ACCUEIL ------------------------------------ */

.accueilContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    color: var(--acc);
    width: 70%;
}

.accueilContainer .acceuilStats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.accueilContainer .acceuilStats .accueilStatCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.accueilContainer .acceuilStats .accueilStatCard .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueilContainer .acceuilStats .accueilStatCard .iconContainer .iconCircle {
    width: 50px;
    height: 50px;
    background: var(--accBack);
    color: var(--acc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.accueilContainer .acceuilStats .accueilStatCard .iconContainer .iconCircle i {
    font-size: 1.5em;
}

.accueilContainer .acceuilStats .accueilStatCard .statContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accueilContainer .acceuilStats .accueilStatCard .statContent h3 {
    font-size: 1.9em;
    margin-bottom: .3rem;
}

.accueilContainer .acceuilStats .accueilStatCard .statContent h4 {
    font-size: 1.1em;
    color: var(--accWhite);
    margin: 0;
    font-weight: 400;
}

.accueilContainer .importBtnWrapper {
    display: grid;
    place-items: center;
    margin: 10% 0;
}

.accueilContainer .importBtnWrapper .btnImport {
    background: var(--acc);
    color: var(--background);
    padding: .8rem 1.8rem;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
    border: none;
}

/* --------------------------------------  Intervention ------------------------------------ */

.interventionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    color: var(--acc);
    width: 70%;
}

.interventionButtons {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 3em;
}

.interventionButtons a {
    color: var(--acc);
    cursor: pointer;
}

.interventionWrapper .command {
    width: 100%;
}

.interventionWrapper .command::before {
    max-width: 315px;
    max-height: 315px;
}

@media print {
    @page {
        size: A5 landscape;
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 100%;
    }

    .interventionContainer {
        width: 100%;
        padding-top: 0; !important;
    }

    .interventionWrapper {
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .card {
        border: none;
        margin: 0; !important;
        box-shadow: none;
        height: 100vh; !important;
    }

    .contentSection .ope {
        padding: 4rem 0; !important;
    }

    .clientSection {
        padding-top: 5rem; !important;
    }

    .clientSection .status {
        bottom: 15%; !important;
    }

    .cloture {
        display: none;
    }

    .interventionButtons {
        display: none; !important;
    }

    .command {
        display: none !important;
    }

    nav, h1, .btn {
        display: none;
    }

    .interShowStatus i {
        font-size: 350% !important;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
    }

    .flash-messages {
        display: none; !important;
    }

    .flash-message {
        display: none; !important;
    }
}


/* --------------------------------------  Login form ------------------------------------ */

/* Style for the login form container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

/* Style for the login form */
.login-form {
    background: var(--accBackModal);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    color: var(--acc);
}

/* Style for form group */
.login-form .form-group {
    margin-bottom: 1rem;
}

/* Style for form labels */
.login-form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

/* Style for form inputs */
.login-form .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--acc);
    border-radius: 5px;
    box-sizing: border-box;
    background: var(--background);
    color: var(--accWhite);
}

/* Style for the submit button */
.login-form button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: var(--acc);
    color: var(--background);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for the submit button */
.login-form button[type="submit"]:hover {
    background-color: var(--accLow);
}

/* Style for error messages */
.login-form .error-message {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

/* --------------------------------------  Client Show ------------------------------------ */

.clientWrapper {
    width: 70%;
    margin-bottom: 3rem;
}

.clientWrapper h2 {
    color: var(--acc);
    font-size: 1.8em;
    margin: 1rem 0;
}

.clientWrapper h3 {
    color: var(--accWhite);
    font-size: 1.5em;
    margin: .5rem 0;
}

.clientWrapper h4 {
    color: var(--sub);
    font-size: 1.4em;
    margin: 1rem 0;
    font-weight: 400;
}

.clientWrapper .card .cardSection {
    padding: 3rem 0;
}

.clientWrapper .card {
    position: relative;
}

.clientWrapper .card a {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2em;
    color: var(--acc);
    cursor: pointer;
    z-index: 5;
}

.prob {
    margin: 1rem 0 1.4rem 0; !important;
}

/* --------------------------------------  Commande Show ------------------------------------ */

.clientWrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientWrap .card .cardSection h3 {
    font-weight: 300;
    font-size: 1em;
}

.clientWrap .card .cardSection h4 {
    margin: 1rem 0;
    color: var(--accWhite);
    text-transform: uppercase;
    font-size: 1.2em;
}

.clientWrap .card .cardSection .icon {
    font-size: 3em;
    color: var(--acc);
}

.clientWrap .buttons {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    font-size: 3em;
}

.clientWrap .buttons a {
    color: var(--acc);
    cursor: pointer;
}

/* -------------------------------------- Responsive Mobile -------------------------------------- */

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Position the burger menu to the left */
.burger-menu {
    display: flex;
    position: absolute;
    top: 15px;
    left: 50px;
}

/* Hide the nav links by default on mobile */
#navLinks {
    display: flex;
    list-style: none;
}

#navLinks li {
    margin: 0 1rem;
}

@media screen and (max-width: 900px) {
    .burger-menu {
        display: flex;
        z-index: 50;
    }

    .burger-menu span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--acc);
        border-radius: 2px;
    }

    @keyframes slide-in-top {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-out-top {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    #navLinks {
        display: none;
        flex-direction: column;
        width: 40%;
        background-color: var(--background);
        border: var(--acc) 1px solid;
        position: absolute;
        top: 60px;
        left: 40px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        animation: slide-in-top 0.5s forwards;
    }

    #navLinks.show {
        display: flex;
        animation: slide-in-top 0.5s forwards;
    }

    #navLinks.hide {
        animation: slide-out-top 0.5s forwards;
    }

    #navLinks li {
        margin: 1rem 0;
    }

    .accueilContainer .acceuilStats {
        flex-direction: column;
        gap: 2rem;
    }

    .scrollerHeader i {
        display: none;
    }

    .scrollerHeader::after {
        display: none;
    }

    .scrollerHeader .scrollerHeaderText {
        width: 50%;
        left: 0;
        font-size: 4vw;
        transition: .3s;
    }

    .scrollerHeader .scrollerHeaderIcon {
        right: 0;
    }

    .scrollerContent {
        height: 100%;
    }

    .scrollerCard::before {
        display: none;
    }

    .scrollerCard .scrollerCardInnerCircle {
        display: none;
    }

    .scrollerCard .scrollerCardContent div {
        padding-left: 0;
    }

    .scrollerCard .scrollerCardContent div h3 {
        font-size: 1.5em;
    }

    .scrollerCard .scrollerCardContent div h4 {
        font-size: 1em;
    }

    .scrollerCard .scrollerCardContent div p {
        font-size: 0.9em;
    }

    .scrollerCard .scrollerCardContent div span {
        font-size: 0.9em;
    }

    .scrollerCard .scrollerCardContent .interStatut {
        font-size: 3em;
    }

    .clientWrapper {
        width: 100%;
        transition: .3s;
    }

    .card {
        flex-direction: column;
        transition: .3s;
    }

    .interventionWrapper {
        width: 100%;
    }

    .interventionContainer .card .cardSection {
        padding: 0;
        min-height: 360px;
    }

    .interventionContainer .card hr {
        width: 98%;
        border-image: var(--gradientMid) 1;
    }

    .interventionButtons {
        font-size: 8vw;
    }

    .interventionWrapper {
        width: 100%;
    }

    .interventionContainer .card .cardSection {
        padding: 1rem 0;
        min-height: 360px;
    }

    .interventionContainer .card hr {
        width: 98%;
        border-image: var(--gradientMid) 1;
    }

    .interventionButtons {
        font-size: 8vw;
    }

    .clientWrap {
        width: 100%;
    }

    .clientWrap .card .cardSection {
        padding: 1rem 0;
    }

    .cmdStatus {
        display: none;
    }

    .cmdStatus i {
        display: none;
    }
}