:root {
    --background: #10172A;
    --acc: #FBBE24;
    --acc2: #1E293B;
    --accBack: rgba(251, 190, 36, 0.33);
    --accBackModal: var(--accBack);
    --accLow: #fde58a;
    --accWhite: #FFFFFF;
    --sub: #BEBEBE;
    --gradientRight: linear-gradient(90deg, var(--acc) 70%, var(--background) 90%);
    --gradientBottom: linear-gradient(180deg, var(--acc) 28%, var(--background) 93%);
    --gradientMid: linear-gradient(90deg, var(--background), var(--acc) 50%, var(--background) 90%);
    --gradientMidVertical: linear-gradient(0deg, var(--background) 10%, var(--acc) 50%, var(--background) 90%);
}

.acc {
    color: var(--acc);
}

.absolute {
    position: absolute;
}